<div itemscope itemtype="https://schema.org/HowTo">
  <b><span itemprop="name">How to buy {{ include.coinname }}</span></b>
  <div>Estimated Cost <span itemprop="estimatedCost" itemscope itemtype="https://schema.org/MonetaryAmount">
    <meta itemprop="currency" content="USD"/>
    <meta itemprop="value" content="0"/>
    $0
  </span>
  </div>
  <div>Estimated Total Time <span itemprop="totalTime" content="P2D">5 min</span></div>
  <div><b>What is necessary:</b></div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">ID Card</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">E Mail</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Phone Number</span>
  </div>
  <div itemprop="supply" itemscope itemtype="https://schema.org/HowToSupply">
      <span itemprop="name">Payment Method</span>
  </div>
  <div itemprop="tool" itemscope itemtype="https://schema.org/HowToTool">
      <span itemprop="name">Tool: A cryptocurrency market.</span>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Compare Cryptocurrency Markets</b></div>
    <img itemprop="image" alt="cryptocurrency market {{ include.coinname }}"
        img src="https://cryptocurrencynewspro.com/assets/img/compare-markets.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step1text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Create an account</b></div>
    <img itemprop="image" alt="register"
           img src="https://cryptocurrencynewspro.com/assets/img/register.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step2text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>Make Payment</b></div>
    <img itemprop="image" alt="make payment"
         img src="https://cryptocurrencynewspro.com/assets/img/make-payment.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step3text }}
      </div>
    </div>
  </div>
  <div itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
    <link itemprop="url" href="{{ include.coinlink }}" />
    <div itemprop="name"><b>{{ include.coinname }} buy</b></div>
    <img itemprop="image" alt="{{ include.coinname }} coin buy"
        img src="https://cryptocurrencynewspro.com/assets/img/{{ include.coinname }}.png"/>
    <div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToDirection">
      <div itemprop="text">{{ include.step4text }}
      </div>
    </div>
  </div>
</div>
