<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="classyschema-videoobject">
  <iframe width="{{ include.width }}" height="{{ include.height }}"
    src="https://www.youtube.com/embed/{{ include.id }}?start={{ include.start | default: 0 }}"
    loading="lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="classyschema-videoobject-name">{{ include.title | default: 'video' }}</div>
  <img itemprop="thumbnailUrl" class="classyschema-videoobject-thumbnailurl" src="https://img.youtube.com/vi/{{ include.id }}/hqdefault.jpg" alt="{{ include.title | default: 'video' }}" />
  <p class="classyschema-videoobject-description">{{ include.description | default: 'video description' }}</p>
  <p>The video was uploaded on <span itemprop="uploadDate" content="{{ include.upload_date | default: '2022-01-01' }}" class="classyschema-videoobject-uploaddate">{{ include.upload_date | default: '2022-01-01' }}</span>.</p>
  <p>You can view the video <a itemprop="contentUrl" class="classyschema-videoobject-contenturl" href="https://www.youtube.com/watch?v={{ include.id }}">here</a>.</p>
  <p>The video lasts for <span itemprop="duration" content="{{ include.duration | default: 'PT0S' }}" class="classyschema-videoobject-duration">{{ include.duration | default: 'PT0S' }}</span>.</p>
  <span class="classyschema-videoobject-embedurl" style="display: none;" itemprop="embedUrl" content="https://www.youtube.com/embed/{{ include.id }}">https://www.youtube.com/embed/{{ include.id }}</span>
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/SeekToAction">
    <meta itemprop="target" content="https://youtu.be/{{ include.id }}?t={seek_to_second_number}" />
    <meta itemprop="startOffset-input" content="required name=seek_to_second_number" />
  </div>
  <span class="classyschema-videoobject-seektoaction" style="display: none;" content="https://youtu.be/{{ include.id }}?t={seek_to_second_number}">https://youtu.be/{{ include.id }}?t={seek_to_second_number}</span>
</div>
